.headerContainer {
    background-color: #8f9295;
    height: 50px;
    width: 100%;
    position: relative;
    .header {
        // background: url(/assets/images/logos/angular/angular_whiteTransparent_withMargin.png) top 0 left 0 repeat,
        //     url(/assets/images/logos/angular/angular_whiteTransparent_withMargin.png) top 80px left 160px repeat;
        position: absolute;
        top: 50%;
        transform: translate(15px, -50%);
        display: flex;
        // cursor: pointer/
        .headerImage {
            height: 25px;
            width: 25px;
        }
        .headerTitle {
            margin: 0;
            margin-left: 10px;
            color: white;
            // align-self: center;
        }
    }
}
